

<footer class="section-padding--sm footer">
  <a class="footer__aboutme" href="{{ site.baseurl }}/about/"> About Me
  </a>




  <ul class="footer__social">
    {% for social in site.social %}
      <li><a class="fa fa-lg fa-{{ social[0]}}" href="{{ social[1] }}"></a></li>
    {% endfor %}
  </ul>


  <div id="aboutme" style="display:none">
  This is my DIV element.
  </div>


    <ul class="javascript_aboutme">
      <button onclick="displayDate()">Try it</button>
      <script>
      function displayDate() {
          document.getElementById("demo").innerHTML = Date();
      }
      </script>
      <p id="demo"></p>


      <button onclick="myFunction()">About Me!</button>

      <!--about me was here-->

      <script>
        function myFunction() {
            document.getElementByID("aboutme").style.display = 'inline';
        }
        </script>
    </ul>
</footer>
